{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
</head>
<body>
    <form action="/add_outgoing_transaction">
        {% csrf_token %}
        <h3>خرج کردم</h3>
        <input type="text" name="date" placeholder="تاریخ">
        <input type="text" name="amount" placeholder="مبلغ">
        <button class="submit">افزودن</button>
    </form>

    <form action="/add_income_transaction">
        {% csrf_token %}
        <h3>دریافت کردم</h3>
        <input type="text" name="date" placeholder="تاریخ">
        <input type="text" name="amount" placeholder="مبلغ">
        <button class="submit">افزودن</button>
    </form>

</body>
</html>